.sign-in {
    width: 38rem;
    display: flex;
    flex-direction: column;

    &__title {
        margin: 1rem 0;
        font-size: 3rem;
    }

    &__subtitle {
        font-size: 1.8rem;
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
    }
}